# Ignore local Blender test copy
/blender

# Ignore IDE files
.idea
.vscode
.vs
/vs
*.pyproj

# Ignore OS artifacts
.DS_Store

# Ignore pyenv artifacts
.python-version

# No compiled Python artifacts
*.pyc

# Ignore Sphinx documentation artifacts
docs/_build
